@model webcodefirst.Models.TblColor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblColor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoColor" class="control-label"></label>
                <input asp-for="CodigoColor" class="form-control" />
                <span asp-validation-for="CodigoColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoHex" class="control-label"></label>
                <input asp-for="CodigoHex" class="form-control" />
                <span asp-validation-for="CodigoHex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreColor" class="control-label"></label>
                <input asp-for="NombreColor" class="form-control" />
                <span asp-validation-for="NombreColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GrupoOrdenamiento" /> @Html.DisplayNameFor(model => model.GrupoOrdenamiento)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
